.container-1{
    display:flex;
}
.box-1{
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 6%;
    flex-basis:80%;
    
}
.box-1 img{
    height:100%;
    width:20%;
    
}
.box-2{
   
    padding-top: 4%;
    padding-bottom: 4%;
    justify-content: center;
}
.box-2 div{  /*How to - menu icon. How To Create a Menu Icon. (n.d.). Retrieved May 13, 2022, from https://www.w3schools.com/howto/howto_css_menu_icon.asp */
    margin-top: 20%;
    width: 70px;
    height: 5px;
    background-color: rgb(41, 36, 36);
}

.back-img{ 
    background-image: url("../photos/IMG_9780.jfif");
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x:50% ;
}

.container-2{
    display: inline-flexbox;
    padding-left: 10%;
    padding-right: 10%;
    
}

.box-3{
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 60%;
    color:white;
}
.containerIntro h1, .containerIntro p {
    display: inline;
}

.containerIntro h1, .containerIntro p {
    display: inline;
}
.Learn-More{
    border: 1px solid #1CC018;
    background-color: #1CC018;
    color:white;
    border-radius:20px;
    font:bolder;
    text-align: center;
    width:40%;
    height:100%;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box-4{
    height:100px;
    padding-bottom: 10%;
}
.container-3{
    text-align: center;
}
.box-5,.box-6,.box-7{
    height:500px;

}
.percentage{
    color:#1CC018 ;
    font-size: 500%;
    height:30%;
}
.sub-percentage{
    height:30%;
    font-size: 50px;
    font-weight:700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.sub-box{
    width:50%;
    padding-left: 25%;
}
.sub-box-1{
    width:40%;
    padding-left: 30%;
}
.sub-box-2{
    width:80%;
    padding-left: 10%;
}
.container-4{
    padding-left: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 1300px;
}
.container-4 img{
    height:100%;
    width:90%;
}
.container-4 p{
    height:20%;
    font-size: 90px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.container-4 h1{
    height:30%;
    font-size: 90px;
    margin:0 0 0 0;
}
.box-8 p{
    font-size: 50px;
    width:70%;
    padding-left: 10%;
}
.Learn{
    padding-left: 19%;
    color: #1CC018;
    text-decoration: underline;
    margin-bottom: 10%;
}
.container-5{
    height:2000px;
    background-color:#1CC018 ;
    justify-content: center;
    margin-bottom: 10%;
}
.box-9{
    text-align: center;
    height:20%;
    width:70%;
    font-size: 100%;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 18%;
}

.box-9 h2{
    font-weight:bold;
    margin: 0 0 0 0;
    font-size: 70px; 
    width:100%;
}
.box-9 p{
    font-size: 70px;
    margin: 0 0 0 0;
    width:80%;
    padding-left: 5%;
}
.box-10{
    height:35%;
    width:60%;
    justify-content: center;
    margin-left: 20%;
    border:10px solid black;
    border-radius:20px;
    margin-bottom: 10%;
}
.box-11{
    border: 1px solid white;
    border-radius:20px;
    background-color: white;
    height:100%;
    position: relative;
    right: 2.5%;
    bottom: 2%;
    
}
.headd{
    padding-left:10%;
    height:10%;
    padding-top: 5%;
    font-size: 200%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:700;
    color:rgb(180, 177, 177);
}
.content{
    padding-left:10%;
    height:20%;
   font-size: 300%;
   margin: 0 0 0 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.hr{
    border-top: 5px solid black;
    width:5%;
    margin-left: 11%;
    margin-bottom: 10%;
}
.sub-content{
    padding-left: 11%;
    height:40%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 200%;
    font-weight: 500;
}
.Flex{
    padding-left: 11%;
    font-weight: 500;
    font-size: 150%;
    display: flex;
}
.Arrow{
    padding-top: 8%;
    width:40%;
    color:#1CC018;
    padding-left: 3%;
}
.container-6{
    margin-left: 5%;
}
.container-6 p{
    margin:0 0 0 0 ;
    margin-top: 10%;
    font-size: 120%;
}
.box-12{
    font-size: 400%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box-13{
    justify-content: center;
    width:70%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10%;
    font-size: 250%;
}
.container-7{
    padding-left: 7%;
    margin-top: 10%;
    font-size: 400%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container-7 div, .container-7 h4{
    display: inline;
}
.box-15{
    padding-left: 7%;
    margin-top: 10%;
    font-size: 200%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box-15 span{
    padding-left: 1%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container-8 img{
    width:100%;
    padding-left: 15%;
    padding-top: 10%;
    height: 200%;
}
.container-10{
    background-color: #E6E6E6;
    
}
.container-10 div{
    height:300px;
}
.box-16 img{/*How to - center images. How To Center an Image. (n.d.). Retrieved May 14, 2022, from https://www.w3schools.com/howto/howto_css_image_center.asp */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height:100%; 
  width:100%;
}
.container-10 p{
    font-size: 400%;
    text-align: center;
    padding-top: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:700;
}
.container-11 p{
    font-size: 500%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.box-17 img{
    max-width: 100%;
}